* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: #FF5959;
    color: white;
    padding: 15px 25px;
    font-size: 24px;
    border-radius: 10px;
    font-weight: 600;
    border: none;
}

.section-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: -40px;
    margin-bottom: 30px;
}
.section-description {
    font-size: 21px;
    color: grey;
}

/* header css */
header {
    /* background-image: url('images/donation8.jpg'); */
    background: linear-gradient(to bottom, transparent, black),
    url("images/donation8.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner {
    padding: 190px 0;
    text-align: center;
}

.headline {
    font-size: 76px;
    color: white;
    font-weight: 700;
}
.banner-para {
    color: white;
    margin-top: 30px;
    margin-bottom: 45px;
    font-size: 21px;
}

/* donate today css */
.donate-today {
    text-align: center;
    margin-top: 170px;
}
.amount {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin: 50px 0;
}

.other {
    padding: 50px 30px;
    background-color: lightgrey;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 700;
    color: grey;
}

.duisho {
    color: #FF5959;
    padding: 50px 30px;
    background-color: #FFEEEE;
    border-radius: 5px;
    font-size: 40px;
    font-weight: 700;
    border: 2px solid #FF5959;
}

.other-amount{
    color: lightgray;
    font-size: 22px;
}
hr {
    max-width: 900px;
    margin: 20px auto;
    color: gray;
}

/* our donate plan */
.our-donate-plan {
    margin-top: 170px;
}
.our-donate-plan h2, .our-donate-plan p {
    text-align: center;
}
.feature {
    display: flex;
    margin: 60px auto 20px;
    max-width: 1200px;
    gap: 30px;
    justify-content: center;
}
.food {
    background-color: #EDF5F6;
    padding: 25px;

}
.shelter {
    background-color: #FFEEEE;
    padding: 25px;
}
.education {
    background-color: #FFF4D6;
    padding: 25px;
}
.feature-img {
    text-align: left;
    margin-top: 40px;
}
.feature-title {
    text-align: left;
    font-size: 26px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.feature-description {
    text-align: left!important;
    font-size: 19px;
    color: grey;
    margin-bottom: 30px;
}

/* image section */
.first-section {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 150px auto 150px;
}
.left-section h2 {
    margin-top: 80px;
}
.left-section {
    width: 50%;
}
.right-section {
    width: 50%;
}
.right-section img {
    object-fit: cover;
    height: 530px;
    width: 500px;
    border-radius: 10px;
}
.spara {
    margin-top: 20px;
    margin-bottom: 40px;
}

.second-section {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 150px auto 150px;
}
.right-section h2 {
    margin-top: 80px;
}
.left-section img {
    object-fit: cover;
    height: 530px;
    width: 500px;
    border-radius: 10px;
}

/* update section */
.updates {
    text-align: center;
}
.subscribe {
    background-color: #FFF4D6;
    max-width: 800px;
    margin: 40px auto 120px;
    padding: 80px;
    border-radius: 5px;
}
.email-feild {
    padding: 15px;
    border: none;
    width: 300px;
}
.subscribe-btn {
    border: none;
    padding: 15px;
    background-color: #FF5959;
    color: #EDF5F6;
}
input {
    font-size: 20px;
}

/* footer section */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
}
.stylish-footer {
    font-size: 44px;
    color: #FF5959;
    font-weight: 700;
    font-style: italic;
}
footer p {
    color: gray;
}